@model IEnumerable<ConferenceReservationSystem.Models.Admin.ParticipationListModel>

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Row)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NationalCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccompanyingsCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShamsiDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Row)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NationalCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccompanyingsCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShamsiDate)
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <div>
        <button class="btn btn-success" onclick="generateExcelFile()">تولید فایل اکسل</button>
        <a href="/admin/DownloadFile/" title="DownloadFile" id="downloadLink" style="display:none"> دانلود فایل </a>
    </div>
}
else
{
    @if (ViewBag.IsConferenceSelected)
    {
        <div class="alert alert-info" role="alert">
            هنوز کسی در این همایش ثبت نام نکرده است!
        </div>
    }
}